html {

    Font-size: 22px;
 }

 body {
     background-color: #5a6167;
     color: whitesmoke;

 }
 a {
    color: aliceblue;
 }
 a:visited {
    color: lightgray;
 }
 a:hover, a:active {
    color: #eee;

 }
